.sidenav {
  top: 200px; 
  background-color: #27a6b2!important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #f7f4e8;
  position: fixed;
  width: 200px;
  height: 100%;
  z-index: 1000;
  left: 0;
  padding-top: 20px; 
}
.nav-items {
  padding-top: 20px; 
}

.nav-item {
  padding: 10px;
  cursor: pointer;
  margin-top: 20px;
}
.search-input {
  padding-left: 30px; 
  border-radius: 20px; 
}

.logo-bean {
  width: 200px; 
  height: 200px; 
  position: fixed;
  top: 0;
  left: 0;
}

.menu-link {
  color: #f7f4e8; 
  text-decoration: none; 
}


.menu-link:hover {
  color: #f7f4e8; 
}





