.campo{
  margin-top: 20px;
}
#inpBuscar{
  padding: 3px;
  border-radius: 5px;

}
.buscarCliente{
  margin-top: 12px;
}
#btn_buscar{
padding: 12px;
margin-left: 40px;
border-radius: 8px;
background-color: #369ba8;
border-style: none;
}
#btn_buscar:hover{
background-color: #1db8cc;

}
#btn_filtrar{ padding: 12px;
margin-left: 20px;
border-radius: 8px;
background-color: #78ddeb;
border-style: none;
}
#btn_filtrar:hover{
  background-color: #1db8cc;
}