.inputs{
  display: inline-block;
  padding: 2px;
  margin: 25px 0px;
  margin-left: 25px;
  border-radius: 5px;
  border-style:double ;
  max-width: 475px;
}
.buton0{
display: inline-block;
position: relative;
top: -20px;
left: 90px;
}

.buton1{
  display: inline-block;
  margin-left: 25px;
  position: relative;
  top: 15px; 
}
.buton2{
  display: inline-block;
  margin-left: 684px;
  position: relative;
  top: -20px;
  
}
#butonLimpar{
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  border-style: none;
  background-color: #b5b5b5;
}
#butonLimpar:hover{
  background-color: #949494;
}
#butonCancelar{
  display: inline-block;
  padding: 10px;
  margin-left: 15px;
  border-radius: 8px;
  border-style: none;
  background-color: #b5b5b5;
}
#butonCancelar:hover{
  background-color: #949494;
}
#butonSalvar{
  margin-left: 620px;
  padding: 10px;
  border-radius: 8px;
  border-style: none;
  background-color: #a8f0d1;
}
#butonOK{
  padding: 10px;
  border-radius: 8px;
  border-style: none;
  background-color: #18c9c9;
  margin-left: 15px;
  padding-left: 20px;
  padding-right: 20px;
}


