.modal-overlay {
  position: absolute;
  top: 241px;
  width: 900px;
  height: 450px;
  background-color: white;
  display:flex ;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  transition: 0.6s;
}


.modalBuscar {
  margin-left: -310px;
  margin-right: auto;
  position: absolute;
  background-color: white;
  padding: 20px;
  top: 415px;
  border-radius: 8px;
  height: 500px;
  width: 862px;
  margin-top: -175px;
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  text-decoration: none;
 
}
.modal-close-button:hover {
color: red;
}