.ContainerCaixa{
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 1100px; ;
  padding: 30px;
  background: white;
  border-radius: 10px;
  height: 700px;
}
.CampoProduto{
  display: inline-block;
  padding: 5px;
  border-style: groove;
  border-radius: 5px;
  margin-left: 2px;
  width: 150px;
}
#CampoCliente{
  width: 250px;
}