body {
    background-color: #3A3A3A;
  }
  
  .logo {
    width: 100%; /* Defina a largura da logo conforme necessário */
    height: auto;
    margin-bottom: -50px; /* Adiciona uma margem inferior para separar a logo do card */
    max-width: 400px;
  }
  
  
  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
  }
  
  
  .card {
    border: 1px solid #F7F4E8;
    background-color: #F7F4E8;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 350px; /* Defina a largura conforme necessário */
    width: 100%;
  }
  
  
  .card-body {
    padding: 16px;
    text-align: center; /* Centraliza o conteúdo do card body */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card-body h1 {
    margin-top: 20px; /* Aumenta a margem do título "Login" */
  }
  
  .card-body p {
    margin-bottom: 0;
  }
  
  .blue-line {
    border: none;
    height: 1px;
    background-color: #27A6B2; /* Cor da linha azul */
    width: 50%; /* Largura da linha (ajuste conforme necessário) */
    margin: 20px auto; /* Aumenta a margem da linha azul */
  }
  
  
  .spacer {
    margin-top: 20px; /* Adiciona uma margem superior de 20px */
    text-align: left;
  }
  
  .login-button {
    background-color: #27A6B2; /* Cor do botão */
    color: #3A3A3A; /* Cor do texto */
    border: none;
    border-radius: 4px;
    padding: 10px 20px; /* Espaçamento interno */
    margin-top: 24px; /* Aumenta a margem superior do botão */
    margin-bottom: 40px;
    cursor: pointer;
  }
  
  h1 {
    color: #3A3A3A;
  
  }
  
  p {
    color: #3A3A3A;
  }
  
  .inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 24px;
    max-width: 250px;
  }
  
